# ignore all local env files in commits to prevent credential leakage
.env

# do not ignore example env templates
!.env.example

# Python caches
__pycache__/
*.py[cod]__pycache__/
*.py[cod]

# ignore real App Engine config with secrets
app.yaml